.navbar {
    width: 100%;
    /* border: 1px solid black; */
    text-align: right;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    /* background-color: #666666; */
background-image: url('https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

header {
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 150px;
    text-align: center;
    font-size: x-large;
}

.box {
    /* border: 1px solid black; */
    width: 50%;
    position:  relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
    box-shadow: 10px 4px 24px -2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 10px 4px 24px -2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 10px 4px 24px -2px rgba(0, 0, 0, 0.7);

}

.progress {
    width: 50%;
    /* border: 1px solid black; */

}



.button {
    background-color: #4CAF50;
    border: none;
    color: rgb(8, 8, 8);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button-container {
    margin-bottom: 20px;
}

.contentbox {
    width: 100%;
    text-align: center;
    margin: auto;
    position: relative;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.logo {
    width: 500px;
    text-align: center;
    margin: 0 auto;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: #FFFFFF; */
    padding: 10px 0;
}

.footer-content {
    text-align: center;
}

.footer-line {
    border: none;
    border-top: 1px solid #000000;
    margin: 20px 0;
}

.footer-content p {
    margin: 0;
}